<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Ecoplug - 404</title>
<link rel="icon"
    type="image/png"
    href="https://ecoplug.xyz/logo.png"> 
  <link rel="stylesheet" href="/css/404.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
</head>
<body>
<script type="82bce08dfd744ac342171454-text/javascript">
   window.onerror = function(error) {
     return true;
     
   }
   
    setInterval(function() {
      if (hyperEnable == undefined) return;
      var cur = player.getCurrentTime();
      if (Math.round(cur) == 139) {
        hyperEnable();
      } else if (cur >= 215 && cur < 216) {
        hyperDisable();
      }
    }, 1);
  </script>
<canvas width="1366" height="581">
</canvas>
<img id="memeplane" src="https://ecoplug.xyz/404/plane.png">
<div class="error-page">
    <div>
        <h1 data-h1="404">404</h1>
        <p data-p="NOT FOUND">NOT FOUND</p>
      
    </div>
</div>
<div id="particles-js"></div>
</div>
<div class="images">
<img id="img-eyes" src="https://ecoplug.xyz/404/b1nzybanhammer.png">
<img id="img-b1nzyavatar" src="https://ecoplug.xyz/404/b1nzyavatar.png">
<img id="img-b1nzy" src="https://ecoplug.xyz/404/b1nzy.png">
<img id="img-jake" src="https://ecoplug.xyz/404/jake.gif">
<img id="img-lul" src="https://ecoplug.xyz/404/lul.png">
<img id="img-hyperthink" src="https://ecoplug.xyz/404/hyperthink.png">
<img id="img-thonkang" src="https://ecoplug.xyz/404/thonkang.png">
<img id="img-feelsthinking" src="https://ecoplug.xyz/404/feelsthinking.png">
<img id="img-owo" src="https://ecoplug.xyz/404/owo.png">
<img id="img-uwu" src="https://ecoplug.xyz/404/uwu.png">
<img id="img-banhammer" src="https://ecoplug.xyz/404/banhammer.png">
<img id="img-b1nzybanhammer" src="https://ecoplug.xyz/404/b1nzybanhammer.png">
<img id="img-eggplant" src="https://ecoplug.xyz/404/b1nzybanhammer.png">
<img id="img-hypergibbs" src="https://ecoplug.xyz/404/hypergibbs.png">
<img id="img-asphalt" src="https://ecoplug.xyz/logo.png">
</div>
<script type="82bce08dfd744ac342171454-text/javascript" src="https://ecoplug.xyz/js/404.js"></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="82bce08dfd744ac342171454-|49" defer=""></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"628a50c96fd00fee","r":1,"si":10,"version":"2021.2.0"}'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js'></script><script>particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 5,
      "density": {
        "enable": true,
        "value_area": 800
      }
    },
    "color": {
      "value": "#fcfcfc"
    },
    "shape": {
      "type": "circle",
    },
    "opacity": {
      "value": 0.5,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.2,
        "sync": false
      }
    },
    "size": {
      "value": 140,
      "random": false,
      "anim": {
        "enable": true,
        "speed": 10,
        "size_min": 40,
        "sync": false
      }
    },
    "line_linked": {
      "enable": false,
    },
    "move": {
      "enable": true,
      "speed": 8,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
    "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": false
      },
      "onclick": {
        "enable": false
      },
      "resize": true
    }
  },
  "retina_detect": true
});</script>
</body>
</html>
