<%- include("../partials/head", { user, path, title: "Ecoplug - About",  url}) %>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="/css/contact.css"  type="text/css"  rel="stylesheet">
	<link href="/css/tailwind.css"  type="text/css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
<div class="container-contact">
            <div class="wrap-contact">
                  <span class="contact-form-title">About Us</span>
                  <p style="color: white;">Hello, welcome to our website :) We are a bunch of tenth graders hoping to make a change. Our world is in need of innovations to save the environment, when it comes to animals or plants  or ecosystems as a whole. Our aim is to help promote undiscovered producers' eco-products, any product that you guys think could help with air pollution, plastic pollution, soil contamination, or even water pollution. We are excited to advertise your hard work; just make sure to add your product and do all the steps necessary. We hope you find this website helpful and make sure to let us know your thoughts and comments in the feedback section!<br><br><b style="text-transform: uppercase">Don't remain silent, save the environment!</b></p>
            </div>
        </div>
</body>

<%- include("../partials/footer.ejs") %>
