<%- include("../partials/head", { user, path, title: "Ecoplug - About",  url}) %>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="/css/contact.css"  type="text/css"  rel="stylesheet">
	<link href="/css/tailwind.css"  type="text/css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
<div class="container-contact">
            <div class="wrap-contact">
                  <span class="contact-form-title">About</span>
            </div>
        </div>
</body>

<%- include("../partials/footer.ejs") %>
