<!DOCTYPE html>
<html>
   <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width'>
      <title>Ecoplug's Privacy & Product Policy</title>
      <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
   </head>
   <body>
      <a href="https://ecoplug.xyz/ecoplug_full_policy_2021.pdf" download="ecoplug_full_policy_2021.pdf">Download as pdf</a>
      <h2>Product Policy</h2>
      <p>This Policy describes activities that are prohibited in connection with your use of the Products.</p>
      <b>The following activities are prohibited:</b>
      <ol>
         <li>
            <p><strong>Child exploitation</strong>: You may not add products that exploit or abuse children, including but not limited to images or depictions of child abuse or sexual abuse, or that present children in a sexual manner.</p>
         </li>
         <li>
            <p><strong>Harassment, bullying, defamation and threats</strong>: You may not add products that harass, bully, defame or threaten a specific individual.</p>
         </li>
         <li>
            <p><strong>Hateful content</strong>: You may not add products to promote or condone hate or violence against people based on race, ethnicity, color, national origin, religion, age, gender, sexual orientation, disability, medical condition, veteran status or other forms of discriminatory intolerance. You may not use the Services to promote or support organizations, platforms or people that: (i) promote or condone such hate; or (ii) threaten or condone violence to further a cause.</p>
         </li>
         <li>
            <p><strong>Illegal activities</strong>: You may not add products that contravene or that facilitate or promote activities that contravene, the laws of the jurisdictions in which you operate or do business.</p>
         </li>
         <li>
            <p><strong>Intellectual property</strong>: You may not add products that infringe on the copyright or trademarks of others.</p>
         </li>
         <li>
            <p><strong>Malicious and deceptive practices</strong>: You may not add products to transmit malware or host phishing pages. You may not perform activities or upload or distribute Materials that harm or disrupt the operation of the Services or other infrastructure of Shopify or others, including Shopify’s third party providers. You may not use the Services for deceptive commercial practices or any other illegal or deceptive activities.</p>
         </li>
         <li>
            <p><strong>Personal, confidential, and protected health information</strong>: You may not add products that contain personally identifiable information, sensitive personal information, or confidential information, such as credit card numbers, confidential national ID numbers, or account passwords unless you have consent from the person to whom the information belongs or who is otherwise authorized to provide such consent. You may not use the Services to collect, store, or process any protected health information subject to the Health Insurance Portability and Accountability Act (“HIPAA”), any applicable health privacy regulation or any other applicable law governing the processing, use, or disclosure of protected health information.</p>
         </li>
         <li>
            <p><strong>Self-harm</strong>: You may add products that promote self-harm.</p>
         </li>
         <li>
            <p><strong>Terrorist organizations</strong>: You may not add products that imply or promote support or funding of, or membership in, a terrorist organization.</p>
         </li>
      </ol>
      <h2>Privacy Policy</h2>
      <p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit https://ecoplug.xyz (the “Site”).</p>
      <p><strong>Information Collection and Use</strong></p>
      <p>When you visit the Site, we do NOT collect information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. But, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site.</p>
      <p><b>We collect Device Information using the following technologies:</b></p>
      <p>
         - “Cookies” are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.<br/>
         - “Web beacons,” “tags,” and “pixels” are electronic files used to record information about how you browse the Site.<br/>
      </p>
      <p><strong>Personal Profile & Login Information</strong></p>
      <p>We use your Personal Information to provide you with targeted advertisements or marketing communications we believe may be of interest to you.</p>
      <p><strong>Product Information</strong></p>
      <p>By adding a product, you agree of having your account username publicly shown on the website, and having your full product information in our database.</p>
      <br/>
   </body>
</html>