
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="/css/footer.css" rel="stylesheet">
    
</head>

	<button id="return-to-top"><i class="icon-chevron-up"></i></button>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">

<footer>
 <p>©  Ecoplug.org 2021 <a href="https://github.com/peterhanania/ecoplug.xyz"><i class="fab fa-github"></i> </a></p>
</footer>

	<script src="/js/footer.js">
	</script>

