<%- include("../partials/head", { user, path, title: "Ecoplug - Sign Up",  url}) %>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="/css/auth.css" rel="stylesheet">
	<link href="/css/tailwind.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
	<div class="home-top">
   <div id="loader"><div class="lds-facebook"><div></div><div></div><div></div></div></div>
	<form action="/signup" id="form" method="post" name="form">
			<div class="auth">
	<div class="auth-box">
            <div class="wrap-auth">  
                    <% if(alert) { %><div class="alert-validate"><%= alert %></div><% } %>
                    <span class="auth-form-title">Sign Up</span>
                    <p style="padding-bottom: 10px;">Have an account? <a style="color: blue;"href="/login">Login!</a></p>
                    <div class="wrap-input rs1-wrap-input">
                        <span class="label">Username</span>
                        <input class="input" id="username" type="text" name="username" placeholder="Username" required/>
                        <span class="input-line"></span>
                    </div>
                    <div class="wrap-input rs1-wrap-input">
                        <span class="label">Email</span>
                        <input class="input" id="email" type="email" name="email" placeholder="email" required/>
                        <span class="input-line"></span>
                    </div>
                    <div class="wrap-input rs1-wrap-input">
                        <span class="label">Password</span>
                        <input class="input" id="password" type="password" name="password" placeholder="password" required/>
                        <span class="input-line"></span>
                    </div>
                     <div class="wrap-input rs1-wrap-input">
                        <span class="label">Confirm Password</span>
                        <input class="input" id="cpassword" type="password" name="confirmPassword" placeholder="password" required/>
                        <span class="input-line"></span>
                    </div>
                    <div class="auth-box-form-btn">
                        <button id="button" type="button" onclick="signUp()">Submit</button>
                    </div>
                

            </div>
			</div>
		</form>
    	<div class="wave"></div>
	</div>
	<div style="padding-top: 20px"></div>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'>
	</script> 
	<script src='/js/main.js'></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
  AOS.init();
</script>
</body>

<%- include("../partials/footer.ejs") %>

<script>
    const usernameInput = document.getElementById("username");
    usernameInput.addEventListener("keyup", async (event) => { 
        if (event.keyCode === 13) {
            return await signUp();
        } else return;

    });

    const emailInput = document.getElementById("email");
    emailInput.addEventListener("keyup", async (event) => { 
        if (event.keyCode === 13) {
            return await signUp();
        } else return;

    });

    const passInput = document.getElementById("password");
    passInput.addEventListener("keyup", async (event) => { 
        if (event.keyCode === 13) {
            return await signUp();
        } else return;

    });

    const cpassInput = document.getElementById("cpassword");
    cpassInput.addEventListener("keyup", async (event) => { 
        if (event.keyCode === 13) {
            return await signUp();
        } else return;

    });

   async function signUp(){

        const loader = document.getElementById("loader");
        loader.style.display = "block";

        const form = document.getElementById("form");
        form.style.display = "none";


        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        if(!email) return window.location.href = '/signup';
        if(!email.length) return window.location.href = '/signup';
        if(email.length < 1) return window.location.href = '/signup';

        if(!password) return window.location.href = '/signup';
        if(!password.length) return window.location.href = '/signup';
        if(password.length < 1) return window.location.href = '/signup';

      
       setTimeout(()=>{document.getElementById("form").submit();}, 2000);
  };

</script>